/*
Theme Name: Rob Snel
Theme URI: https://www.maatwerkonline.nl
Version: 1.0.0
Author: Maatwerk Online
Author URI: https://www.maatwerkonline.nl/contact/
Description: This Theme is designed and developed by Maatwerk Online
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: maatwerkonline
Domain Path: /languages
*/

/*
Register all your vars in the theme.json file of the theme.
You can then receive them with the var() function like this:
    var(--wp--custom--header--content-size);
for a var in the theme.json that is added lik this:
    "custom": {
        "header" : {
            "contentSize": "1240px"
        },
    }
*/

/* Add you own custom font here */
@font-face {
  font-family:"poppins";
  src: url("assets/fonts/poppins-bold.woff") format("woff");
  font-display:auto;
  font-style:normal;
  font-weight:700;
}

@font-face {
  font-family:"poppins-regular";
  src: url("assets/fonts/poppins-regular.woff") format("woff");
  font-display:auto;
  font-style:normal;
  font-weight:400;
}

@font-face {
  font-family:"myriad-pro";
  src: url("assets/fonts/myriad-pro.woff") format("woff");
  font-display:auto;
  font-style:normal;
  font-weight:400;
}


body {
  font-family: "myriad-pro";
  background-color: #fff;
  font-size: 15px;
  line-height: 1.5rem;
}

.editor-styles-wrapper {
  font-family: "myriad-pro";
}

h1 {
  font-size: 2.125rem;
  line-height: 2.875rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2.75rem;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.2rem;
}

h6 {
  font-size: .8125rem;
  line-height: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "poppins";
}

/* Default Header */
#header .navbar {
  width: 100%;
  height: 92px;
  display: flex;
  flex-direction: column;
}

#header .navbar .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  position: relative;
}

.header-border {
  border-bottom: 1px solid rgba(112, 130, 164, .2);
}

#sidebar-wrapper .navbar-nav .nav-link {
  width: 100%;
  color: #fff;
  padding: 10px 15px;
}

#wrapper {
  display: flex;
}

#sidebar-wrapper .navbar-nav .nav-link:hover {
  background: #283137;
}

#sidebar-wrapper .navbar-nav .my-account .nav-link,
#sidebar-wrapper .navbar-nav .account .nav-link {
  background: #283137;
  border-bottom: 1px solid #212b2f;
  padding-top: 18px;
  padding-bottom: 18px;
}

#sidebar-wrapper .navbar-nav .my-account .nav-link {
  padding-top: 22px;
  padding-bottom: 22px;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .nav {
  width: 15rem;
  overflow: hidden;
}

#page-content-wrapper {
  min-width: 100vw;
  position: relative;
  background-color: #fff;
}

#wrapper.toggled #page-content-wrapper:before {
  content: "";
  position: absolute;
  z-index: 2080;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: default;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.navbar-brand img {
  height: 55px;
  width: auto;
}
.navbar-nav {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
  height: 100%;
}

#header .navbar-nav li {
  margin: 0 10px;
  height: calc( 100% - 3px);
  display: flex;
  border-bottom: 3px solid transparent;
  transition: .2s linear;
}

#header .navbar-nav li:hover,
#header .navbar-nav li.active,
#header .navbar-nav li.current-page-item {
  border-bottom: 3px solid;
  border-color: var(--wp--preset--color--primary);
}

#left-menu,
#right-menu {
  height: 100%;
}

#header .navbar-nav li:last-child {
  margin-right: 0;
  border-bottom: none;
}

#header .navbar-nav li .nav-link {
  color: #002670;
  font-size: var(--wp--custom--header--menu--font-size);
  margin: auto;
  transition: .2s linear;
  font-family: "poppins";
  font-weight: 600;
}

#header .navbar-nav li:hover .nav-link,
#header .navbar-nav li.active .nav-link,
#header .navbar-nav li.current-page-item .nav-link {
  color: var(--wp--preset--color--primary);
}

.additional-navbar{
  width: 100%;
  height: 2rem;
  background-color: #7082A4;
  display: flex;
}

.additional-navbar--container {
  display: flex;
  justify-content: end;
  color: #fff;
  margin: auto;
}

.additional-navbar--link {
  color: #fff;
  font-size: 14px;
  transition: .2s linear;
}

.additional-navbar--link:hover {
  opacity: .7;
}

.additional-navbar--link i {
  font-size: 12px;
}

#header .nav-item .wp-block-button__link {
  margin: auto;
}

/* Footer styling */
.footer-banner {
  width: 100%;
  height: 345px;
  background-color: #002670;
  position: relative;
}

.footer-banner--fade {
  position: absolute;
  left: 0%;
  bottom: 0%;
  opacity: .1;
  width: 100%;
  height: 8rem;
  z-index: 1;
}

.footer-banner--content {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.footer-banner--content li {
  list-style: none;
  margin-top: 2rem;
}

#footer{
  background-color: #002670;
}

.footer-links {
  display: flex;
  flex-direction: column;
  padding: 85px 0;
}

.footer-image {
  opacity: .7;
  padding: 85px 0;
}

.footer-image img {
  width: auto;
  height: 85px !important;
}

.footer-links a, 
.footer-links p {
  color: #fff;
  padding-bottom: 1rem;
  opacity: .7;
  font-size: 16px;
  transition: .2s linear;
}

.footer-links a:hover,
.bottom-footer .footer-links a:hover {
  opacity: 1;
}

.bottom-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  padding: 1.65rem 0;
}

.bottom-footer .footer-links {
  padding: 0;
  flex-direction: row;
}

.bottom-footer .footer-links a, 
.bottom-footer .footer-links p {
  padding-bottom: 0;
  padding-right: 2rem;
}

.bottom-footer .footer-links a:last-child {
  padding-right: 0;
}

/* Breadcrumbs */
.breadcrumb,
.breadcrumb a {
  font-size: 13px;
  color: #033B6D;
}

.breadcrumb a {
  border-bottom: 1px solid #033B6D;
  margin-right: .3rem;
}

.breadcrumb_last {
  margin-left: .3rem;
}

.breadcrumb a:hover {
  opacity: .7;
}

/* Additional Bootstrap */
.text-white {
  color: #fff !important;
}

.text-blue {
  color: #002670 !important;
}

.d-flex {
  display: flex !important;
}

.text-center {
  text-align: center !important;
}

/* Service Single */

.service_single__top_content {
  padding: 80px 0px;
}

.service_single__top_content__featured_image {
  width: 90%;
  position: relative;
  line-height: 0px;
}

.service_single__top_content__featured_image__image {
  width: 100%;
}

.service_single__top_content__featured_image__overlay {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  opacity:0.5;
}

@media only screen and (max-width: 600px) {
  .service_single__top_content__featured_image {
      width: 100%;
  }
}

.service_single__carousel_section {
  padding: 80px 0px;
}

.service_single__carousel_section__carousel__slider-image {
  max-height: 581px;
  min-height: 100%;
}


.service_single__carousel_section__carousel__slider-image img {
  object-fit: cover;
  width: 100%;
  min-height: 260px;
}

.service_single__editor_content {
  padding:60px 0px 100px 0px;
}

@media only screen and (max-width: 600px) {

}

/* Slick Slider */

.slick-prev,
.slick-next
{
    position: absolute;
    top: 50%;
    display: block;
    z-index:100;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
}

.slick-prev
{
    left: -20px;
    background-image: url("assets/images/arrow-left.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:10px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    transition: all .2s ease-in-out;
    background-color: #D8192D;
    padding: 20px;
    border-radius: 50px;

}

.slick-next
{
    right: -20px;
    background-image: url("assets/images/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:10px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    transition: all .2s ease-in-out;
    background-color: #D8192D;
    padding: 20px;
    border-radius: 50px;
}

.slick-prev:hover,.slick-next:hover {
    height: 25px;
    background-size:12px;
    transition: all .2s ease-in-out;
}