@font-face {
  font-family: 'rs';
  src:  url('fonts/rs.eot?8l5e8e');
  src:  url('fonts/rs.eot?8l5e8e#iefix') format('embedded-opentype'),
    url('fonts/rs.ttf?8l5e8e') format('truetype'),
    url('fonts/rs.woff?8l5e8e') format('woff'),
    url('fonts/rs.svg?8l5e8e#rs') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="rs-"], [class*=" rs-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rs' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rs-chevron-right:before {
  content: "\e900";
}
.rs-chevron-left:before {
  content: "\e901";
}
.rs-phone:before {
  content: "\e942";
}
