.news-query--background {
    background-color: #F5F5F5;
    padding: 5.5rem 4.5rem;
    position: relative;
}

.news-query--card {
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.35));
    transition: .2s linear;
}

.news-query--card:hover {
    filter: none;
}

.news-query--card img {
    object-fit: cover;
    width: 100%;
    height: 15rem;
}

.news-query--card h3 {
    line-height: 1;
    color: #002670;
}