.homepage-title {
    background-color: #002670;
    padding-bottom: 6rem;
    position: relative;
    overflow: hidden;
}

.homepage-title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 6rem;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}

.homepage-title--content {
    padding: 4rem;
}

.homepage-title--content li {
    list-style: none;
}

.homepage-title--image {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 2;
    width: 56.5%;
    object-fit: cover;
    object-position: center;
}

.homepage-title--fade {
    position: absolute;
    left: 0;
    bottom: -1rem;
    z-index: 3;
    width: 100%;
    object-fit: cover;
    opacity: .3;
}

.homepage-title--button {
    position: relative;
    z-index: 5;
}