.service .row {
    padding:80px 0px;
}

.service--odd {
    background: #F5F5F5;
}

.service__image_holder {
    width: 90%;
    position: relative;
    line-height: 0px;
}

.service__image_holder__image {
    width: 100%;
}

.service__image_holder__overlay {
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    opacity:0.5;
}

@media only screen and (max-width: 600px) {
    .service__image_holder {
        width: 100%;
    }
}