.product-card--image {
    width: auto;
    height: 90px;
    object-fit: contain;
}

.product-card {
    transition: .2s linear;
    border: 1px solid #fff;
}

.product-card:hover {
    border: 1px solid rgba(112, 130, 164, .2);
}

.product-card--content {
    font-family: "poppins-regular";
    font-size: 1.125rem;
    font-weight: 400;
}

/* Pagination */

.pagination {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

.pagination a,
.pagination span {
    font-family: "poppins-regular";
    font-size: 1.125rem;
    font-weight: 400;
    color: #002670;
    border-bottom: 1px solid #fff;
    margin-right: 1rem;
}

.pagination i {
    font-size: .875rem;
}

.pagination .current,
.pagination a:hover {
    color: #D8192D;
    border-bottom: 1px solid #D8192D;
}

/* Term Filter */

.terms a {
    border: 1px solid #002670;
    background-color: #fff;
    color: #002670;
    border-radius: var(--wp--custom--form--button--border-radius);
    cursor: pointer;
    font-weight: 700;
    font-size: .75rem;
    padding: 13px 30px;
    font-family: "poppins";
    transition: .2s linear;
    line-height: 1.125rem;
    margin-right: 1rem;
}

.terms .terms__block--active,
.terms a:hover  {
    border: 1px solid #002670;
    background-color: #002670;
    color: #fff;
}