.what-we-do--content {
    position: relative;
    overflow: hidden;
}

.what-we-do--content--image {
    width: 100%;
    height: 21rem;
    object-fit: cover;
}

.what-we-do--content--fade {
    position: absolute;
    left: 0;
    bottom: .5rem;
    width: 100%;
    opacity: .7;
}

.what-we-do--content--text {
    position: absolute;
    left: 0;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}