.product-view--background {
    background-color: #002670;
    padding: 5.5rem 4.5rem;
    position: relative;
}

.product-view--background.white{
    background-color: #fff;
}

.product-view--product-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-view--product-holder--product {
    padding: 9px;
    width: 50%;
}

.product-view--product-holder--product .product {
    background-color: #fff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    position: relative;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.product-fade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: .3;
}

.product-view--product-holder--product .product h3,
.product-view--content h1,
.product-view--content p {
    color: #002670;
}

.product-view--product-holder--product .product img.mx-auto {
    width: auto;
    height: 90px;
    object-fit: contain;
}

.product-view--content {
    width: 80%;
}

.product-view--background--fade {
    position: absolute; 
    width: 100%;
    height: auto;
    left: 0;
    bottom: 0;
    opacity: .1;
}